<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acquanero.ezcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.EnterPinToConfimActivity"></activity>
        <activity android:name=".activities.ChangePinActivity" />
        <activity
            android:name=".activities.ValidateAccessToProviderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectNewCardForProviderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditProviderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReadNewCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNewCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShowCardInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainDrawerActivity"
            android:label="@string/title_activity_main_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterStepTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterStepOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>